{erl_first_files, []}.
{erl_opts, [
	warnings_as_errors,
	debug_info
]}.
{deps_dir, ["deps"]}.
{deps, [
	{gen_unix, ".*", {git, "https://github.com/msantos/gen_unix.git", {tag, "fedf1cca199dbd475e7c4de659f0d3306357b5e0"}}}
	% {enm, ".*", {git, "https://github.com/basho/enm.git", {tag, "9be99ead124dde41ae970425b160c5569453a6a8"}}}
]}.